@using Stossion.ViewModels.User;
@model UserDetailsViewModel;
    

    <title>User Profile</title>

    <div class="card mb-4 profile-container">
         <div class="profile-content profile-info">
            <img src="data:image/png;base64,@Model.ProfilePicture" alt="Profile Picture" class="profile-picture" />
            <a href="#" class="edit-picture" id="edit-name">Edit</a>
            <!-- Hidden file input field -->
            <input type="file" id="profile-picture-upload" style="display: none;" accept="image/*">

             <div class="mt-2 pl-3 flex-column d-none updateProfileImage">
                 <!-- Update button -->
                <button class="stossionBtn updateUser" name="profilepicture">Update</button>
                 <!-- Cancel button -->
                <button class="stossionCancelBtn cancel-btn">Cancel</button>
                
            </div>
        </div>
        <hr/>
        <div class="profile-info">
            <label class="pl-3">Name: </label>
            <span class="text-field" id="labelName">@Model.FirstName @Model.LastName</span>
            <a href="#" class="edit-link" id="edit-name">Edit</a>

          <div class="d-none flex-column updateProfileInputField">
              <div class="d-flex">
                  <div class="col-6">
                      <input type="text" id="userFirstName" class="form-control stextBox required" value="@Model.FirstName" />
                  </div>
                  <div class="col-6">
                      <input type="text" id="userLastName" class="form-control stextBox required" value="@Model.LastName" />
                  </div>
              </div>
              <div class="mt-2 pl-3">
                  <button class="stossionBtn updateUser" name="name">Update</button>
                  <button class="stossionCancelBtn ml-2">Cancel</button>
              </div>
          </div>
        </div>

        <div class="profile-info">
            <label class="pl-3">Country: </label>
            <span class="text-field" id="labelCountry">
                <img src="@Model.Logo" alt="Country Logo" class="profile-logo" />
                <span id="countryNameLbl">@Model.Country</span>
            </span>
            <input type="text" class="edit-field editCountry" value="@Model.Country" />
            <a href="#" class="edit-link" id="edit-country">Edit</a>

           <div class="d-none flex-column updateProfileInputField">
              <div class="d-flex">
                  <div class="col-12">
                        <select class="form-control CountrySelection registerInput" name="Country" id="updateProfileCountry"></select>
                  </div>
              </div>
              <div class="mt-2 pl-3">
                  <button class="stossionBtn updateUser" name="country">Update</button>
                  <button class="stossionCancelBtn ml-2">Cancel</button>
              </div>
            </div>
        </div>

        <div class="profile-info">
            <label class="pl-3">Gender: </label>
            <span class="text-field" id="labelGender">@Model.Gender</span>
            <input type="text" class="edit-field" value="@Model.Gender" />
            <a href="#" class="edit-link" id="edit-gender">Edit</a>

            <div class="d-none flex-column updateProfileInputField">
              <div class="d-flex">
                  <div class="col-12">
                     <select class="form-control loginSelect updateProfileGender" name="Gender" id="updateProfileGender">
                          <option class="loginOption" value="1">Male</option>
                          <option class="loginOption" value="2">Female</option>
                          <option class="loginOption" value="3">Other</option>
                     </select>
                  </div>
              </div>
              <div class="mt-2 pl-3">
                  <button class="stossionBtn updateUser" name="gender">Update</button>
                  <button class="stossionCancelBtn ml-2">Cancel</button>
              </div>
            </div>

        </div>

        <div class="profile-info">
            <label class="pl-3">Email: </label>
            <span class="text-field" id="labelEmail">@Model.Email</span>
            <input type="text" class="edit-field" value="@Model.Email" />
            <a href="#" class="edit-link" id="edit-email">Edit</a>

             <div class="d-none flex-column updateProfileInputField">
              <div class="d-flex">
                  <div class="col-12">
                      <input type="text" id="userEmail" class="form-control stextBox emailType required" value="@Model.Email" />
                  </div>
              </div>
              <div class="mt-2 pl-3">
                  <button class="stossionBtn updateUser" name="email">Update</button>
                  <button class="stossionCancelBtn ml-2">Cancel</button>
              </div>
          </div>
        </div>

        <div class="profile-info">
            <label class="pl-3">Phone Number: </label>
            <span class="text-field" id="labelPhoneNumber">@Model.PhoneNumber</span>
                <input type="number" class="edit-field" value="@Model.PhoneNumber" />
                <a href="#" class="edit-link" id="edit-phone">Edit</a>

          <div class="d-none flex-column updateProfileInputField">
              <div class="d-flex">
                  <div class="col-12">
                      <input type="text" id="userPhoneNumber" class="form-control stextBox required updateProfilePhoneNumber phoneNumberValidation" value="@Model.PhoneNumber" />
                      <span class="PhoneNumberErrorField d-none"></span>
                  </div>
              </div>
              <div class="mt-2 pl-3">
                  <button class="stossionBtn updateUser" name="phonenumber">Update</button>
                  <button class="stossionCancelBtn ml-2">Cancel</button>
              </div>
          </div>

        </div>
    </div>


<script src="~/js/home/viewprofile.js"></script>
